:root {
  --filter-active: hsl(220, 98%, 61%);
  /* check button */
  --checkBackground: linear-gradient(
    120deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  /* Light theme */
  --background-elements: hsl(0, 0%, 100%);
  --color-title: hsl(0, 3%, 93%);
  --background: hsl(0, 0, 98%);
  --borders: hsl(234, 39%, 85%);
  --text-line-through: hsl(233, 11%, 84%);
  --secondary-color: hsl(236, 9%, 61%);
  --principal-text-color: hsl(235, 19%, 35%);
  /* hover */
  --purple100: hsl(236, 33%, 92%);
  --title-font-size: 18px;
  --show-sun: block;
  --show-moon: none;
  --background-url: url("/src/images/bg-mobile-light.webp");
}

/* reset styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "JosefinSans";
  src: url("/src/fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

:root[data-theme="dark"] {
  --background-elements: hsl(235, 24%, 19%);
  --background: hsl(235, 21%, 11%);
  --borders: hsl(233, 14%, 35%);
  --text-line-through: hsl(233, 14%, 35%);
  --secondary-color: hsl(235, 16%, 43%);
  --principal-text-color: hsl(0, 0%, 98%);
  --show-sun: none;
  --show-moon: block;
  --background-url: url("/src/images/bg-mobile-dark.webp");
}

/* header styles */
body {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.header {
  display: flex;
  justify-content: center;
  background-image: var(--background-url);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.header--title {
  color: var(--color-title);
  font-family: "JosefinSans", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

#sun {
  display: var(--show-sun);
}

#moon {
  display: var(--show-moon);
}

.header-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1.2rem;
  margin-top: 5rem;
  color: var(--background);
}

.button--light-dark {
  background-color: transparent;
  border: none;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;

  & > svg {
    pointer-events: none;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

/* main styles */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem;
  gap: 1.5rem;
  background-color: var(--background);
}

.form--inputs {
  background-color: var(--background-elements);
  width: 100%;
  display: flex;
  gap: 0.5rem;
  padding-left: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-top: -8rem;
  z-index: 50;
  overflow: hidden;
}

.wrapper-checkbox {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  display: none;

  &:checked ~ .checkbox-label {
    background: var(--checkBackground);

    &::after {
      content: url("/src/images/icon-check.svg");
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.checkbox-label {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100%;
  border: 1px solid var(--borders);
  display: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

#input-task {
  padding: 0.75rem 1rem;
  flex: 1;
  border: none;
  background-color: var(--background-elements);
  font-size: 16px;
  color: var(--principal-text-color);
  font-family: "JosefinSans", Arial, Helvetica, sans-serif;

  &:focus {
    outline: none;
  }
}

/* task styles */
.tasks {
  width: 100%;
  min-width: 300px;
  background-color: var(--background-elements);
  border-radius: 0.3rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.to-do-list {
  display: flex;
  flex-direction: column;
}

.task {
  display: flex;
  gap: 0.5rem;
  font-size: 16px;
  padding: 0.75rem 1rem;
  align-items: center;
  border-bottom: 1px solid var(--borders);

  &.is-hidden {
    display: none;
  }

  & > p {
    flex: 1;
    color: var(--principal-text-color);
    font-family: "JosefinSans", Arial, Helvetica, sans-serif;
    font-weight: 400;
  }

  & > p.task-completed {
    text-decoration: line-through;
    color: var(--text-line-through);
  }
}

.delete--task {
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;

  & > svg {
    pointer-events: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.main--footer {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  position: relative;
  font-family: "JosefinSans", Arial, Helvetica, sans-serif;
}

.task--pending {
  color: var(--secondary-color);
}

.task--clear-btn {
  color: var(--secondary-color);
  background: none;
  border: none;
  font-family: "JosefinSans", Arial, Helvetica, sans-serif;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--principal-text-color);
  }
}

.filters {
  background-color: var(--background-elements);
  padding: 0.75rem 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 4rem;
  left: 0;
}

.filters-button {
  background: none;
  border: none;
  font-weight: 700;
  color: var(--secondary-color);
  transition: 0.3s;
  font-family: "JosefinSans", Arial, Helvetica, sans-serif;

  &:hover {
    cursor: pointer;
    color: var(--principal-text-color);
  }

  &.active {
    color: var(--filter-active);
  }
}

/* footer */
.attribution {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background);
  color: var(--principal-text-color);
  font-family: "JosefinSans", Arial, Helvetica, sans-serif;

  & > a {
    text-decoration: none;
    color: var(--filter-active);
  }
}

@media (width >= 640px) {
  :root {
    --background-url: url("/src/images/bg-desktop-light.webp");
  }

  :root[data-theme="dark"] {
    --background-url: url("/src/images/bg-desktop-dark.webp");
  }

  .header-nav {
    max-width: 500px;
    padding: 0;
  }

  .form--inputs,
  .tasks {
    max-width: 500px;
  }

  .main-container {
    padding: 2rem;
  }

  .filters {
    padding: 0;
    box-shadow: none;
    width: auto;
    max-width: 500px;
    min-width: auto;
    position: static;
  }
}

@media (width >= 1024px) {
  .header-nav,
  .form--inputs,
  .tasks,
  .filters {
    max-width: 600px;
  }
}

@media (width >= 1280px) {
  .header-nav,
  .form--inputs,
  .tasks,
  .filters {
    max-width: 700px;
  }

  .task {
    & > .delete--task {
      display: none;
    }

    &:hover > .delete--task {
      display: flex;
    }
  }
}
